<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css')}}">
    <!-- AlpineJS necessary for creating labels with numeric above sliders  -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- JS Block -->
    {% block js %}{% endblock %}
</head>
<body>
    <!-- Main content block -->
    {% block content %}{% endblock %}
    <!-- Flowbite JS file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>